
body {
  background-color: #343a40;
}
.hero {
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/hero-1.jpg);
  }

  .title {
    font-size: 3rem;  
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    color: white;
    animation: fadein 4s ease;
  }

  .jumbotron {
      margin-top: -200px;
      background: none !important;
  }
  
  .title.show {
    opacity: 1;
  }

  .map-container{
    max-height: 250px;
    max-width: 500px;
  }

  .venue-map{
    height: 250px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
        
  }
  
  @keyframes fadein {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

